html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.ie8-hide {
  visibility: hidden !important;
  display: none !important;
}

#ie8-last,
.ie8-last {
  margin-right: 0;
}

body {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin: 25px auto 35px;
}

body::after {
  clear: both;
  content: "";
  display: block;
}

#page-title {
  width: 100%;
  margin: 0;
}

#page-title .h1-wrap {
  padding: 0;
  margin: 0;
  width: 500px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#page-title .h1-wrap .vertical-title {
  padding-top: 30px;
  margin: 0;
}

#page-content {
  border-left: 1px solid #444;
  margin-top: -80px;
  float: left;
  display: block;
  margin-right: 2.8425860857%;
  width: 89.7157413914%;
  margin-left: 10.2842586086%;
}

#page-content:last-child {
  margin-right: 0;
}

.big-green-button {
  background: none;
  border: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  margin: 0 !important;
}

.big-green-button:hover {
  border: none !important;
  margin: 0 !important;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.big-green-button#services {
  background: url("/img/misc/services-button.png") center;
  background-repeat: no-repeat;
}

.big-green-button#contact {
  background: url("/img/misc/contact-button.png") center;
  background-repeat: no-repeat;
}

#top-bar {
  float: left;
  display: block;
  margin-right: 1.7578778568%;
  width: 87.2802652679%;
  margin-left: 6.3598673661%;
  background: #4c3211;
  height: 57px;
  position: relative;
}

#top-bar:last-child {
  margin-right: 0;
}

#top-bar .nav-collapse {
  float: left;
  display: block;
  margin-right: 2.0140610841%;
  width: 100%;
}

#top-bar .nav-collapse:last-child {
  margin-right: 0;
}

.nav-collapse {
  float: right;
  width: auto;
}

.nav-collapse a {
  border-left: 2px solid white;
  text-decoration: none;
  background: #4c3211;
  padding: .7em 1em;
  color: #fff;
  width: 100%;
  text-align: center;
  float: left;
  margin: 0;
  font-size: 21px;
}

.nav-collapse a:hover {
  background: #a0cc39;
}

.nav-collapse li {
  width: auto;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #a0cc39;
}

.nav-collapse a#last {
  border-radius: 0 10px 0 0;
  border-right: 2px solid white;
  behavior: url("/php/PIE.htc");
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  float: right;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

header .logo-container img#default-logo {
  height: 190px;
}

main#project-galleries .h1-wrap#project-galleries {
  padding-top: 170px;
}

main#project-galleries #page-content {
  margin-top: -220px;
}

main#our-plants .h1-wrap#our-plants {
  padding-top: 30px;
  width: 500px;
}

main#our-plants .h1-wrap#our-plants .vertical-title {
  padding: 0;
  margin: 0;
}

main#our-plants #page-content {
  margin-top: -80px;
}

main#services .purchase-lease-verbiage {
  padding: 0 26px 26px;
  visibility: visible;
  display: block;
  text-align: center;
}

main#services .purchase-lease-verbiage p {
  font-size: 19px;
}

main#contact {
  background-image: url("/img/contact/ie/contact.jpg");
  background-repeat: no-repeat;
}

main#contact .main-content {
  background-image: url("/img/contact/ie/contact-blur.jpg");
}

main#contact .h1-wrap#contact {
  padding-top: 30px;
  margin: 0;
}

main#contact .row#main-info {
  margin-bottom: 18px;
  height: 320px;
}

main#contact .consultation-details {
  height: 120px;
  margin-bottom: 18px;
}

.widget-links .widget#project-galleries,
.widget-links .widget#plant-selection {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 48.8211739883%;
}

.widget-links .widget#project-galleries:last-child,
.widget-links .widget#plant-selection:last-child {
  margin-right: 0;
}

.widget-links .widget#plant-selection {
  margin-right: 0;
}

.widget-links .widget a:hover h4 {
  text-decoration: underline;
}

.index-verbiage #contact-text {
  margin-right: 0;
}

.index-verbiage #standard-buttons .one-half {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.index-verbiage #standard-buttons .one-half a {
  margin-top: -8px;
}

footer #contact-info {
  margin-right: 0;
}
