a.big-green-button {
	background: #a0cc39;
	box-shadow: 0 rem-calc(2) 0 0 #668625;
	color: #fff;
	text-decoration: none;
	font-size: rem-calc(23);
	padding: rem-calc(10) rem-calc(16) rem-calc(10) rem-calc(16);
	border: rem-calc(1) solid #a0cc39;
	border-radius: 4px;
	display: inline-block;


	&:hover {
		text-shadow: 0 rem-calc(1) 0 #668625;
		border-top: 0;
		margin-top: rem-calc(1);
		box-shadow: 0 rem-calc(1) 0 0 #668625;
		border-bottom: rem-calc(3) solid $lime-green;
	}
}

.opaque-button {
	background: rgba(51,51,51,.50);
	border: rem-calc(1) solid #333;
	border-radius: rem-calc(4);
	color: #fff;
	text-decoration: none;
	text-shadow: rem-calc(1) rem-calc(1) rem-calc(2) #000;
}

// .button {
// 	display: inline-block;
// 	vertical-align: middle;
// 	margin: 0 0 1rem 0;
// 	padding: .85em 1em;
// 	border: 1px solid transparent;
// 	border-radius: 0;
// 	transition: background-color .25s ease-out, color .25s ease-out;
// 	font-family: inherit;
// 	font-size: .9rem;
// 	-webkit-appearance: none;
// 	line-height: 1;
// 	text-align: center;
// 	cursor: pointer;
// 	background-color: #1779ba;
// 	color: #fefefe;
// }

// .button:hover,
// .button:focus {
// 	background-color: #14679e;
// 	color: #fefefe;
// }
