h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	// Styles
	font-family: $h-font-family;
	font-style: normal;
	font-weight: normal;
	color: $h-color;

	// Metrics
	line-height: 1.2;
	margin-bottom: rem-calc(8);

	// Legibility
	text-rendering: optimizeLegibility; // [https://css-tricks.com/almanac/properties/t/text-rendering/] The browser emphasizes legibility over rendering speed and geometric precision. This enables the use of special kerning and optional ligature information that may be contained in the font file for certain fonts.

	small {
		line-height: 0;
		color: #8a8a8a;
	}
}

h1,
.h1 {
	font-size: $h1-size;

	@include media($maxWidth-940) {
		font-size: $h2-size;
	}

	@include media($maxWidth-820) {
		font-size: $h3-size;
	}
}

h2,
.h2 {
	font-size: $h2-size;

	@include media($maxWidth-940) {
		font-size: $h3-size;
	}
}

h3,
.h3 {
	font-size: $h3-size;

	@include media($maxWidth-940) {
		font-size: $h4-size;
	}
}

h4,
.h4 {
	font-size: $h4-size;
}

h5,
.h5 {
	font-size: $h5-size;

	@include media($maxWidth-940) {
		font-size: $h6-size;
	}
}

h6,
.h6 {
	font-size: $h6-size;
}

h5,
.h5,
h6,
.h6 {
	letter-spacing: rem-calc(1);
	text-transform: uppercase;
}
