a {
	color: $text-color;

	&:hover {
		text-decoration: none;
	}
}

a.phone-number {
	display: inline-block;
	text-decoration: none;

	i.icon-phone {
		&:focus,
		&:active {
			background: rgba(0, 0, 0, .5);
		}
	}

	@include media($maxWidth-820) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

// a {
// 	color: #1779ba;
// 	text-decoration: none;
// }

// a:hover,
// a:focus {
// 	color: #1468a0;
// }
