@import '_abbr.scss';
@import '_blockquote-cite.scss';
@import '_buttons.scss';
@import '_code.scss';
@import '_figure.scss';
@import '_font-face.scss';
@import '_font-family.scss';
@import '_font-weight.scss';
@import '_headings.scss';
@import '_hr.scss';
@import '_kbd.scss';
@import '_links.scss';
@import '_lists.scss';
@import '_text-alignment.scss';
@import '_text-color.scss';
@import '_text-styles.scss';
@import '_text-transform.scss';
@import '_text-visibility.scss';

a.phone-number {
	display: inline-block;
	text-decoration: none;

	i.icon-phone {
		&:focus,
		&:active {
			background: rgba(0, 0, 0, .5);
		}
	}

	@include media($maxWidth-820) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
