@import "neat-helpers";

$default-break: new-breakpoint(max-width em(1070) 16);
$maxWidth-1070: new-breakpoint(max-width em(1070) 16);

$large: new-breakpoint(max-width em(940) 12);
$maxWidth-940: new-breakpoint(max-width em(940) 12);

$medium: new-breakpoint(max-width em(820) 10);
$maxWidth-820: new-breakpoint(max-width em(820) 10);

$small-plus: new-breakpoint(max-width em(650) 8);
$maxWidth-640: new-breakpoint(max-width em(650) 8);

// $small-medium: new-breakpoint(max-width em(540) 8);

$small: new-breakpoint(max-width em(565) 8);
$maxWidth-565: new-breakpoint(max-width em(565) 8);
