main#services {
	background-image: url('/img/services/services.jpg');

	.main-content {
		background-image: url('/img/services/services-blur.jpg');
		background-size: cover;
	}
}

.page-header#services-header {
	padding: 0 em(16);

	h1 {
		margin: rem-calc(8) 0 rem-calc(16);
	}

	p {
		margin: 0 0 rem-calc(16) 0;
		font-size: rem-calc(19);
	}

	h3 {
		font-size: rem-calc(23);
	}
}

.services-verbiage {
	padding: 1em;

	h4 {
		span {
			font-family: $bold-font-family;
		}
	}

	p {
		margin-top: rem-calc(6);
		font-size: rem-calc(19);
	}
}

.purchase-lease-button {
	text-align: center;
	padding: 1em;

	a.big-green-button {
		margin: rem-calc(20) auto rem-calc(45);
		padding: rem-calc(10) rem-calc(16);

		&:hover {
			margin: rem-calc(21) auto rem-calc(43);
		}
	}
}

.purchase-lease-verbiage {
	visibility: hidden;
	display: none;
}

#services-modal {
	h1 {
		font-family: 'atlas', sans-serif;
		letter-spacing: rem-calc(1.4);
	}

	h3 {
		padding: 0 rem-calc(20);

		@include media($maxWidth-650) {
			padding: 0;
		}
	}
}
