footer {
	background: $dark-brown;
	border-radius: 0 0 rem-calc(10) rem-calc(10);
	behavior: url('/php/PIE.htc');
	height: auto;
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(20);
	color: #fff;

	a {
		color: #fff;
	}

	@include span-columns(14);
	@include shift(1);

	@include media($maxWidth-940) {
		@include span-columns(11 of 12);
		@include shift(.5);
		height: auto;
		font-size: rem-calc(15);
	}

	@include media($maxWidth-820) {
		margin-bottom: rem-calc(30);
		padding-bottom: rem-calc(10);
		border-radius: 0 0 rem-calc(12) rem-calc(12);
	}

	#store-share {
		@include span-columns(5 of 14);
		padding-left: rem-calc(20);



		h4 {
			margin: 0;
		}

		@include media($maxWidth-820) {
			padding: rem-calc(12) 0 0 0;
			width: 100%;
			text-align: center;
		}

		@include media($maxWidth-650) {
			margin-bottom: rem-calc(6);
		}

		@include media($maxWidth-565) {
			margin-bottom: 0;
		}
	}

	#contact-info {
		@include span-columns(9 of 14);
		text-align: right;
		padding: rem-calc(10) 1.250em 0 0; // 10px 20px 0 0

		span {
			display: inline-block;
		}

		#address,
		#contact-us {
			margin: 0;

			a {
				color: #fff;
			}
		}

		// #contact-us {
		// 	a.phone-number {

		// 		display: inline-block;
		// 	}
		// }

		@include media($maxWidth-940) {
			padding-top: rem-calc(15);
		}

		@include media($maxWidth-820) {
			width: 100%;
			margin: 0;
			text-align: center;
			padding: rem-calc(10);

			#address {
				margin-bottom: rem-calc(10);
			}

			span {
				display: inline-block;
			}
		}

		@include media($maxWidth-650) {
			#address {
				margin-bottom: rem-calc(16);
			}
		}

		@include media($maxWidth-565) {
			#address {
				margin-bottom: rem-calc(10);
				font-size: rem-calc(19);
			}
		}
	}
}


@include media($maxWidth-820) {
	footer#contact {
		margin-bottom: 0;
	}
	// #snc-link {
	// 	margin-bottom: rem-calc(18);
	// }
}

svg {
	overflow: hidden;
	vertical-align: middle;
}
