@import 'typography/_var-typography.scss';
@import 'colors/_var-colors.scss';
@import 'media-queries/_var-media-queries.scss';
@import 'box-shadow/_var-box-shadow.scss';

// Visual Components
// 10px Default Radial Border
$radius-default: 0.625em;

// Border Pixel Widths
$one: 0.063em;
$two: 0.125em;
$three: 0.188em;
$four: 0.250em;
$five: 0.313em;
$ten: 0.625em;
