main#index {
	background-image: url('/img/index/index.jpg');

	.main-content {
		background-image: url('/img/index/index-blur.jpg');
		background-size: cover;
	}
}


.index-header {
	text-align: center;
	// @include row;
	margin-bottom: rem-calc(10);

	h1 {
		font-size: rem-calc(42);
		margin-bottom: 0;
	}

	h2 {
		font-size: rem-calc(25);
	}

	@include media($maxWidth-650) {
		h1 {
			font-size: rem-calc(36);
		}

		h2 {
			font-size: rem-calc(19);
		}
	}
}

.widget-links {
	@include row();
	padding: 0 rem-calc(10);
	text-align: center;
	margin-bottom: rem-calc(30);

	@include media($maxWidth-1070) {
		margin-bottom: rem-calc(16);
	}

	.widget {
		a {
			text-align: center;
			width: 100%;
			text-decoration: none;

			h4 {
				color: #fff;
				border-top: rem-calc(2) solid #fff;
				background: #444;
				background: rgba(68,68,68,.60);
				box-shadow: inset 0 0 3px 0 #000;
				margin-top: 246px;
				margin-bottom: 0;
				padding: rem-calc(10) 0;

				@include media($maxWidth-940) {
					margin-top: 346px;
				}

				@include media($maxWidth-650) {
					margin-top: 181px;
					font-size: rem-calc(19);
				}
			}

			&:hover {
				h4 {
					background: #323232;
					background: rgba(50,50,50,.70);
					box-shadow: inset 0 1px 2px 1px #000;
					text-shadow: 0 2px 1px #000;
				}
			}
		}

		@include media($maxWidth-650) {
			margin-bottom: rem-calc(16);
		}
	}

	.widget#project-galleries,
	.widget#plant-selection {
		@include span-columns(6 of 12);
		height: 300;
		border: rem-calc(2) solid #fff;
		box-shadow: 0 rem-calc(1) rem-calc(2) 0 #333;

		@include media($maxWidth-940) {
			height: 400;
		}

		@include media($maxWidth-650) {
			@include span-columns(10 of 10);
			height: 230;
		}
	}

	.widget#project-galleries {
		background: url('/img/index/widgets/project-galleries/default/project-galleries.jpg');
		background-size: auto 105%;
		background-repeat: no-repeat;
		background-position: center;

		@include media($maxWidth-940) {
			background: url('/img/index/widgets/project-galleries/large/project-galleries.jpg');
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: left;
		}

		@include media($maxWidth-650) {
			background: url('/img/index/widgets/project-galleries/default/project-galleries.jpg');
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center;
		}

		@media #{$maxWidth-410} {
			background: url('/img/index/widgets/project-galleries/default/project-galleries.jpg');
			background-size: auto 110%;
			background-repeat: no-repeat;
			background-position: right;
		}
	}

	.widget#plant-selection {
		background: url('/img/index/widgets/plant-selection/default/plant-selection.jpg');
		background-size: auto 105%;
		background-repeat: no-repeat;
		background-position: center;

		@include media($maxWidth-940) {
			background-size: auto 100%;
		}

		@include media($maxWidth-650) {
			background-size: 100% auto;
		}

		@media #{$maxWidth-410} {
			background-size: auto 110%;
		}
	}
}

.index-verbiage {
	text-align: center;

	h4 {
		font-size: rem-calc(20);
		padding: 0 rem-calc(10);
	}

	.row {
		margin-bottom: rem-calc(16);
	}

	a {
		color: #fff;
		font-size: rem-calc(20);
	}

	#services-text,
	#contact-text {
		@include span-columns(6 of 12);

		a {
			visibility: hidden;
			display: none;
		}
	}

	#contact-text {
		h4 {
			margin-top: rem-calc(5);
			margin-bottom: 0;

			span {
				display: inline-block;
			}
		}

		@include media($maxWidth-1070) {
			h4 {
				margin-top: rem-calc(12);
			}
		}
	}

	.row#standard-buttons {
		margin-bottom: rem-calc(30);
		height: rem-calc(45);
	}

	@include media($maxWidth-565) {
		#services-text,
		#contact-text {
			@include span-columns(10 of 10);

			a.big-green-button {
				visibility: visible;
				display: inline-block;
				margin: rem-calc(20) rem-calc(45);

				&:hover {
					margin: rem-calc(21) rem-calc(45) rem-calc(18) rem-calc(45);
				}
			}
		}

		.row#standard-buttons {
			display: none;
			visibility: hidden;
		}
	}
}
