main#project-galleries {
	background-image: url('/img/project-galleries/galleries.jpg');

	.main-content {
		background-image: url('/img/project-galleries/galleries-blur.jpg');
		background-size: cover;
	}

	#page-content {
		min-height: rem-calc(510);
	}

	.page-header {
		margin-bottom: rem-calc(38);
	}
}

.project-galleries-gallery {
	margin-bottom: rem-calc(38);

	.image-grid {
		padding: 0 rem-calc(16);

		.thumb {
			@include span-columns(2 of 12);
			@include omega(6n);
			text-align: center;
			margin-bottom: rem-calc(22);

			a {
				img {
					border: rem-calc(2) solid #fff;
					box-shadow: 0 rem-calc(1) rem-calc(2) 0 #333;
					margin-bottom: rem-calc(1);
				}

				&:hover {
					img {
						box-shadow: 0 rem-calc(1) rem-calc(1) 0 #000;
						margin-top: rem-calc(1);
						margin-bottom: 0;
					}
				}
			}
		}

		@include media($maxWidth-1070) {
			.thumb {
				@include omega-reset(6n);
				@include span-columns(4 of 16);
				@include omega(4n);
			}
		}

		@include media($maxWidth-650) {
			.thumb {
				@include omega-reset(4n);
				@include span-columns(4 of 8);
				@include omega(2n);

				img {
					max-width: 200px;
					width: 100%;
				}
			}
		}
	}
}
