// ----------------------------------------------
// |            typography Variables            |
// ----------------------------------------------
// $global-font-size: 100% !default;
// $p-font-family: 'inai', sans-serif;
// $bold-font-family: 'Roboto', sans-serif;

// $p-lineheight: 1.6;

$body-font-family: $p-font-family;
$h-font-family: $p-font-family;












// -----------------------------------------
// |            sort below code            |
// -----------------------------------------
$baseline: 1.4em;
