// ----------------------------------------------
// |            typography Variables            |
// ----------------------------------------------
$global-font-size: 100% !default;
$body-font-family: 'inai', sans-serif;
$bold-font-family: 'Roboto', sans-serif;


// Functions import necessary for rem-calc(X) usage:
@import '../functions/_functions.scss';


// -------------------------------------
// |            font-sizing            |
// -------------------------------------
$h1-size: rem-calc(38);
$h2-size: rem-calc(32);
$h3-size: rem-calc(28);
$h4-size: rem-calc(23);
$h5-size: rem-calc(16);
$h6-size: rem-calc(12);









// -----------------------------------------
// |            sort below code            |
// -----------------------------------------
$baseline: 1.4em;
