@media screen and (min-width: 651px) {
	.nav-collapse.closed {
		max-height: 53px;
	}
	.nav-toggle {
		display: none;
	}
	.mask {
		display: none !important;
		opacity: 0 !important;
	}
	.nav-collapse {
		float: right;
		width: auto;
	}

	.nav-collapse li {
		width: auto;
		float: left;
	}

	.nav-collapse ul ul a {
		background: #ca3716;
		padding-left: 2em;
	}

	.nav-collapse,
	.nav-collapse * {
		box-sizing: border-box;
	}

	.nav-collapse,
	.nav-collapse ul {
		list-style: none;
		float: right;
	}

	.nav-collapse ul {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style: none;
	}

	.nav-collapse {
		position: absolute;
		display: block;
	}
}
