@include media($maxWidth-820) {
	#top-bar {
		border-radius: 0;
		width: 100%;
		@include shift(0);

		.nav-collapse a#last {
			border-radius: 0;
		}
	}

	.nav-collapse {
		width: 100% !important;
		text-align: center !important;
		ul {
			float: none !important;
			li {
			}
		}
	}
}
