@include media($maxWidth-650) {
	#top-bar {
		z-index: 20;
		background: $logo-brown;
		// border-bottom: rem-calc(1) solid #fff;
	}

	.nav-collapse ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;
	}

	.nav-collapse li {
		width: 100%;
		display: block;
	}

	.js .nav-collapse {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
		zoom: 1;
	}

	.nav-collapse.opened {
		max-height: 9999px;
	}

	.disable-pointer-events {
		pointer-events: none !important;
	}

	.nav-toggle {
		user-select: none;
	}

	// ------------------------------
	// |            MASK            |
	// ------------------------------
	.mask {
		transition: opacity 300ms;
		background: rgba(0,0,0, .5);
		visibility: hidden;
		position: fixed;
		opacity: 0;
		z-index: 11; //////
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	.android .mask {
		transition: none;
	}

	.js-nav-active .mask {
		visibility: visible;
		opacity: 1;
	}

	// -------------------------------------------
	// |            NAVIGATION STYLES            |
	// -------------------------------------------
	.fixed {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
	}

	.nav-collapse,
	.nav-collapse * {
		box-sizing: border-box;
	}

	.nav-collapse,
	.nav-collapse ul {
		list-style: none;
		width: 100%;
		float: left;
	}

	.nav-collapse li {
		float: left;
		width: 100%;
	}

	.nav-collapse a {
		border-top: 1px solid white;
		text-decoration: none;
		background: $dark-brown;
		padding: .7em 1em;
		color: #fff;
		width: 100%;
		float: left;
		font-size: 18px;

		&:hover {
			background: $lime-green;
		}
	}

	.nav-collapse a:active,
	.nav-collapse .active a {
		background: $lime-green;
		box-shadow: none;
		text-shadow: none;
	}

	.nav-collapse a#last {
		border-right: none;
	}

	// -------------------------------------------
	// |            NAV TOGGLE STYLES            |
	// -------------------------------------------
	.nav-toggle {
		text-decoration: none;
		text-indent: -300px;
		position: relative;
		overflow: hidden;
		width: 60px;
		height: 3em;
		float: right;
	}

	.nav-toggle:before {
		color: #fff; /* Edit this to change the icon color */
		font: normal 35px/48px 'nav'; /* Edit font-size (28px) to change the icon size */
		text-transform: none;
		text-align: center;
		position: absolute;
		content: '\2261'; /* Hamburger icon */
		text-indent: 0;
		speak: none;
		width: 100%;
		left: 0;
		top: 0;
	}

	.nav-toggle.active:before {
		font-size: 26px;
		content: '\78'; /* Close icon */
	}

	@viewport {
		width: device-width;
	}

	.nav-collapse {
		text-align: right !important;

		ul {
			float: left !important;
		}
	}
}
