#top-bar {
	@include span-columns(14);
	@include shift(1);
	border-radius: 0 rem-calc(12) 0 0;
	z-index: 3;
	background: $dark-brown;
	border-top: rem-calc(2) solid #fff;
	border-bottom: rem-calc(2) solid #fff;
	position: relative;

	.nav-collapse {
		text-align: center; // Goes into effect @<820px, but because working with max-widths, go ahead and specify this at the max
	}

	.nav-collapse ul {
		margin: 0; // Negate browser default styles
		padding: 0; // Negate browser default styles
		display: inline-block; // Negate browser default styles
		list-style: none; // Negate browser default styles
		float: right; // Keep the nav hugging the right side of the site bounding box
	}

	.nav-collapse li {
		// width: auto;
		float: left; //!important
	}

	.nav-collapse a {
		text-decoration: none;
		padding: rem-calc(10 20);
		border-left: rem-calc(2) solid #fff;
		color: #fff;
		float: left;
		font-size: rem-calc(21);
	}

	.nav-collapse a:hover,
	.nav-collapse a:active,
	.nav-collapse .active a {
		background: $lime-green;
		text-shadow: 0 rem-calc(1) 0 #668625;
		box-shadow: 0 rem-calc(1) rem-calc(1) 0 #668625 inset;
	}

	.nav-collapse a#last {
		border-radius: 0 rem-calc(12) 0 0;
		border-right: rem-calc(2) solid #fff;
	}
}
