$minWidth-651: "only screen and (min-width : 40.6875rem)";

#top-bar {
	@include span-columns(14);
	@include shift(1);
	z-index: 3;
	background: $dark-brown;
	border-radius: rem-calc(12) rem-calc(12) 0 0;
	behavior: url('/php/PIE.htc');
	border-top: rem-calc(2) solid white;
	border-bottom: rem-calc(2) solid white;
	text-align: right;
	position: relative;
}

@media #{$minWidth-651} {
	.nav-collapse.closed {
		max-height: 53px;
	}

	.nav-toggle {
		display: none;
	}

	.mask {
		display: none !important;
		opacity: 0 !important;
	}

	.nav-collapse {
		float: right;
		width: auto;
	}

	.nav-collapse a {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		border-left: 2px solid white;
		text-decoration: none;
		background: $dark-brown;
		padding: rem-calc(10) rem-calc(16);
		color: #fff;
		width: 100%;
		text-align: center;
		border-top: 0;
		float: left;
		margin: 0;
		font-size: 21px;

		&:hover {
			background: $lime-green;
			text-shadow: 0 rem-calc(1) rem-calc(0) #668625;
			box-shadow: 0 1px 1px 0 #668625 inset;
		}
	}

	.nav-collapse li {
		width: auto;
		float: left;
	}

	.nav-collapse a:active,
	.nav-collapse .active a {
		background: $lime-green;
		box-shadow: none;
		text-shadow: 0 rem-calc(1) rem-calc(0) #668625;
		box-shadow: 0 1px 1px 0 #668625 inset;
	}



	.nav-collapse a#last {
		border-radius: 0 10px 0 0;
		border-right: 2px solid white;
		behavior: url('/php/PIE.htc');

		@include media($maxWidth-820) {
			border-radius: 0;
		}
	}

	.nav-collapse ul ul a {
		background: #ca3716;
		padding-left: 2em;
	}

	.nav-collapse,
	.nav-collapse * {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.nav-collapse,
	.nav-collapse ul {
		list-style: none;
		float: right;
	}

	.nav-collapse ul {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style: none;
	}



	.nav-collapse {
		position: absolute;
		display: block;
	}
}
