a.big-green-button {
	background: #a0cc39;
	box-shadow: 0 rem(2) 0 0 #668625;
	color: #fff;
	text-decoration: none;
	font-size: rem(23);
	padding: rem(10) rem(16) rem(10) rem(16);
	border: rem(1) solid #a0cc39;
	border-radius: 4px;
	display: inline-block;


	&:hover {
		text-shadow: 0 rem(1) 0 #668625;
		border-top: 0;
		margin-top: rem(1);
		box-shadow: 0 rem(1) 0 0 #668625;
		border-bottom: rem(3) solid $lime-green;
	}
}

.opaque-button {
	background: rgba(51,51,51,.50);
	border: rem(1) solid #333;
	border-radius: rem(4);
	color: #fff;
	text-decoration: none;
	text-shadow: rem(1) rem(1) rem(2) #000;
}
