.svg-link {
	display: inline-block;
	margin-bottom: rem-calc(8);
}

.svg-link.icon-hover__white {
	&:hover {
		background: #fff;
		border-radius: 50%;

		.replaced-svg {
			path {
				fill: $lime-green;
			}
		}
	}
}
