@font-face {
	font-family: 'inai';
	src: url('/fonts/inai/inaimathi-webfont.woff2') format('woff2'),
	url('/fonts/inai/inaimathi-webfont.woff') format('woff'),
	url('/fonts/inai/inaimathi-webfont.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:900');


@font-face {
	font-family: 'nav';
	src: url('/fonts/nav/nav.woff2') format('woff2'),
	url('/fonts/nav/nav.woff') format('woff'),
	url('/fonts/nav/nav.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
