
@font-face {
	font-family: 'fontello';
	src: url('/fonts/fontello/fontello.woff2') format('woff2'),
	url('/fonts/fontello/fontello.woff') format('woff'),
	url('/fonts/fontello/fontello.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}
