
@font-face {
    font-family:"fontello";
    src:url("fontello.woff2") format("woff2"),url("fontello.woff") format("woff"),url("fontello.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        