@import "../settings/_settings.scss";

body {
	@include outer-container;
	margin: 25px auto 35px;
}


#page-title {
	.h1-wrap {
		visibility: hidden;
		display: none;
	}
}

// behavior: url('/php/PIE.htc');

#page-content {
	@include span-columns(9 of 10);
	@include shift(1);
}


.big-green-button {
	border: none !important;
	box-shadow: none;
	text-shadow: none;
	margin: 0 !important;

	&:hover {
		border: none !important;
		margin: 0 !important;
		text-decoration: underline;
		box-shadow: none;
	}
}

.white-popup {
	position: relative;
	background: #fff;
	padding: 30px 16px;
	width: auto;
	max-width: 80%;
	text-align: center;
	margin: 20px auto;
	border: 6px solid $dark-brown;
	border-radius: 10px;
}