@import "../settings/_settings.scss";

.widget-links {
	.widget {
		a {
			h4 {
				background: $logo-brown;
				color: #fff;
			}

			&:hover {
				h4 {
					text-decoration: underline;
				}
			}
		}
	}
}

.index-verbiage {
	#contact-text {
		@include omega();
	}

	#standard-buttons {
		.one-half {
			margin-bottom: 30px;
			padding-bottom: 15px;			
		}
	}
}





