@import "../settings/_settings.scss";


.widget-links {
	.widget {
		a {
			&:hover {
				h4 {
					text-decoration: underline;
				}
			}
		}
	}
}

.green-button-container {
	background: #a0cc39 !important;
	// box-shadow: 0px rem(2) 0px 0px #668625;
	color: #fff;
	text-decoration: none;
	font-size: rem(23);
	// padding: rem(10) rem(16) rem(10) rem(16);
	border: 1px solid #a0cc39 !important;
	border-radius: 4px !important;

	behavior: url('/php/PIE.htc');

	display: inline-block;


	&:hover {
		text-decoration: underline;
		text-shadow: 0px rem(1) 0px #668625;
		// border-top: 0;
		// margin-top: rem(1);
		// box-shadow: 0px rem(1) 0px 0px #668625;
		// border-bottom: rem(3) solid $lime-green;
	}
}


.index-verbiage {
	#contact-text {
		@include omega();
	}

	#standard-buttons {
		.one-half {
			margin-bottom: 30px;
			padding-bottom: 15px;			
		}
	}
}





