.widget-links {
	.widget {
		a {
			&:hover {
				h4 {
					text-decoration: underline;
				}
			}
		}
	}
}



.index-verbiage {
	#contact-text {
		@include omega();
	}

	#standard-buttons {
		.one-half {
			margin-bottom: 30px;
			padding-bottom: 15px;

			a {
				margin-top: -8px;
			}
		}
	}
}
