@import "../settings/_settings.scss";


main#project-galleries {
	background-image: url('/img/project-galleries/galleries-blur.jpg');
	background-size: cover;
}

main#our-plants {
	background-image: url('/img/our-plants/our-plants-blur.jpg');
	background-size: cover;
}

main#index {
	background-image: url('/img/index/index-blur.jpg');
	background-size: cover;
}

main#services {
	background-image: url('/img/services/services-blur.jpg');
	background-size: cover;
}

main#contact {
	background-image: url('/img/contact/contact-blur.jpg');
	background-size: cover;
}

.widget-links {
	.widget#project-galleries,
	.widget#plant-selection {
		@include span-columns(6 of 12);
	}

	.widget#plant-selection {
		@include omega();
	}
}
