@import "../settings/_settings.scss";


main#project-galleries {
	background-image: url('/img/project-galleries/galleries-blur.jpg');
	background-size: cover;

	.h1-wrap#project-galleries {
		padding-top: 170px;
	}

	#page-content {
		margin-top: -220px;
	}
}

main#our-plants {
	background-image: url('/img/our-plants/our-plants-blur.jpg');
	background-size: cover;

	.h1-wrap#our-plants {
		padding-top: 30px;
		width: 500px;

		.vertical-title {
			padding: 0;
			margin: 0;
		}
	}

	#page-content {
		margin-top: -80px;
	}
}

main#index {
	background-image: url('/img/index/index-blur.jpg');
	background-size: cover;
}

main#services {
	background-image: url('/img/services/services-blur.jpg');
	background-size: cover;

	.purchase-lease-verbiage {
		padding: 0 26px 26px;
		visibility: visible;
		display: block;
		text-align: center;

		p {
			font-size: 19px;
		}
	}
}

main#contact {
	background-image: url('/img/contact/contact-blur.jpg');
	background-size: cover;

	.h1-wrap#contact {
		padding-top: 30px;
		margin: 0;
	}

	.row#main-info {
		margin-bottom: 18px;
		height: 320px;
	}

	.consultation-details {
		height: 120px;
		margin-bottom: 18px;
	}
}

.widget-links {
	.widget#project-galleries,
	.widget#plant-selection {
		@include span-columns(6 of 12);
	}

	.widget#plant-selection {
		@include omega();
	}
}

