
@font-face {
    font-family:"InaiMathi Regular";
    src:url("inaimathi-webfont.woff2") format("woff2"),url("inaimathi-webfont.woff") format("woff"),url("inaimathi-webfont.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        