// -----------------------------------------
// |            color Variables            |
// -----------------------------------------

// Typography Elements
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

// Site Colors
$dark-brown: #4c3211;
$lime-green: #a0cc39;
$tan: #ded8cc;
$logo-brown: #624011;
$content-bg: #eeeeee;
