// -----------------------------------------
// |            color Variables            |
// -----------------------------------------

// Semantic Colors
$dark-brown: #4c3211;
$lime-green: #a0cc39;
$tan: #ded8cc;
$logo-brown: #624011;
$content-bg: #eee;
$black: #0a0a0a;



// Typography Elements
$body-font-color: #333;
$p-color: #333;
$h-color: $black;
$text-color: $p-color;
$link-color: #222;
$hr-color: #ccc;



// Structure Elements
$body-background: $tan;
