// ---------------------------------------
// |            Overlay Style            |
// ---------------------------------------

// Overlay at start
.mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all .15s ease-out;
}
// Overly animate in
.mfp-zoom-in.mfp-bg.mfp-ready {
	opacity: .8;
}
// Overlay animate out
.mfp-zoom-in.mfp-bg.mfp-removing {
	opacity: 0;
}

// ---------------------------------------
// |            Modal Content            |
// ---------------------------------------

// Modal Content at start
.mfp-zoom-in.mfp-wrap .mfp-content {
	opacity: 0;
	transform: scale(.8);
	transition: all .15s ease-out;
}
// Modal Content animate in
.mfp-zoom-in.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	transform: scale(1);
}
// Modal Content animate out
.mfp-zoom-in.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	transform: scale(.8);
}
